<footer class="footer container">
  <div style="display: flex; justify-content: space-between;">

    <p id="date" style="flex: 0 0 auto; justify-content: center;"></p>


    <p class="legal" style="flex: 0 0 auto; text-align: right;">
      <a href='/index.xml' target='_blank'><i class='fa fa-github'></i></a> · <a href='#' rel='nofollow'
        target='_blank'><i class='fab fa-twitter'></i></a>
    </p>
  </div>
</footer>

<script>
  var date = new Date();
  var current_date = date.getFullYear()
  document.getElementById("date").innerHTML = current_date + " Copyright Diafcon Inc"
</script>